*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
  background: radial-gradient(circle at center, #ffffff 40%, #000000 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  border-radius: 1rem;
}

.ri-heart-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  font-size: 6rem;
  opacity: 0;
  pointer-events: none;
  z-index: 5;

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  transition: transform 0.35s cubic-bezier(0.2, 0.8, 0.3, 1.4), opacity 0.2s;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.ri-heart-fill.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2) rotate(0);
}

.ri-heart-fill.gone {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate(-50%, -250%) scale(1.2) rotate(10deg);
  opacity: 0;
}
